body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}

/* ユーザーが選択したい手の上にマウスを乗せたときの変化 */
#rock:hover {
    text-align: center;
    background: blue;
    color: #fff;
}
#scissors:hover {
    text-align: center;
    background: green;
    color: #fff;
}
#paper:hover {
    text-align: center;
    background: red;
    color: #fff;
}
#clr_btn_wrap{
    display: flex;
    justify-content: center;
}
/* 「再挑戦」ボタン */
#clr_btn {
    display: table;  /* 定義 */
    cursor: pointer;
    background: #ffd61a;
    width: 200px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    /* align-content: center; */
}
#clr_btn:hover {
    background: lightgoldenrodyellow;
    color: red;
    width: 200px;
    height: 60px;
    font-size: 18pt;
    text-align: center;
    align-content: center;
}